/*** CONFIGURATION GENERALE ***/

body {
    margin: 0;
    padding: 0 0 80px 0;
    background: url("images/background.jpg");
    font-family: 'Roboto', sans-serif;
}

/*** CONFIGURATION HEADER ***/

header {

    background: linear-gradient(to left, #ECB6EE, #B79BF2, #A7B2F2, #C2C9F2, #80DBFB);
    line-height: 20vh;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}

#logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titre {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #titre img {
    width: 100%;
    height: auto;
}

header #logo img {
    width: 30%;
    height: auto;
}

/*** CONFIGURATION MENU DE NAVIGATION EN MODE PAYSAGE ***/

#menu {
    width: 100%;
    z-index: 9999;
}

.floatable {
    position: fixed;
    top: 0;
}

nav {
    height: 100%;
    margin: 0 auto 2% auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.2);
}

#logo_nav {

    align-self: center;
}


#logo_nav img {
    height: 50px;
}

.visible {
    display: initial;
}

.invisible {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    width: 80%;
    padding-inline-start: 0;
}

nav li {
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    width: 15%;
    transition:transform .2s;
}

nav li:nth-child(2n+0):hover {
    background-color:#ECB6EE;
    transform: scale(1.2);
    border:none;
}

nav li:nth-child(2n+1):hover {
    background-color:#80DBFB;
    transform: scale(1.2);
    border:none;
}

nav ul li a {
    font-size: 1.5em;
    color: rgb(150, 150, 150);
    text-decoration: none;
    display: block;
    padding: 5%;
}

@media (max-width: 1420px) {
    nav ul li a {
        display: flex;
        flex-direction: column;
    }
}

nav ul li a:hover {
    color: white;
}

/*** CONFIGURATION MENU DE NAVIGATION EN MODE PORTRAIT ***/

@media screen and (orientation: landscape) {
    #menu_portrait {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    #menu {
        display: none;
    }

    #menu_portrait {
        position: fixed;
        bottom: -1px;
        width: 100%;
        z-index: 9999;
    }

    nav {
        margin: 0;
        box-shadow: 0 -10px 20px 1px rgba(0, 0, 0, 0.2);
        padding-bottom: 2%;
    }

    nav ul {
        justify-content: space-between;
        width: 100%;
    }

    nav ul li a {
        font-size: 1em;
        padding: 20% 5%;
        display: flex;
        flex-direction: column;
    }

    nav ul li a .fa, .far, .fab, .fas {
        font-size: 90px;
        transition: 0.5s;
        color: #000;
        height: 100px;
    }

    nav ul li a span{
        color: #000;
        font-size: 25px;
    }

    nav li:nth-child(1n+0):hover {
        background-color: transparent;
    }


}

/*** CONFIGURATION CONTENEUR PRINCIPAL ***/

#main {
    width: 60%;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-shadow: 3px 3px 6px rgba(221, 221, 221, 1);
}

section h3 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-shadow: 3px 3px 6px rgba(221, 221, 221, 1);
}

.pink {
    color: #ECB6EEFF;
}

.blue {
    color: #80DBFBFF;
}

article {
    margin-bottom: 8rem;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

article img {
    height: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4)) grayscale(100%);
    align-self: center;
}

article.column img:nth-of-type(1) {
    width: 35%;
    margin-bottom: 1rem;
}

article.column img:nth-of-type(2) {
    width: 35%;
    margin-top: 1rem;
}

article.row img:nth-child(1) {
    width: 25%;
    margin-right: 3rem;
}

article.row img:nth-last-child(1) {
    width: 25%;
    margin-left: 3rem;
}

article p {
    line-height: 1.39;
    font-size: 1.5em;
    text-align: justify;
}

@media screen and (max-width: 1920px) {
    #main {
        width: 90%;
    }
}

@media screen and (orientation: portrait) {
    #main {
        width: 90%;
    }

    article p {
        font-size: 2.5em;
    }
}