/*** CONFIGURATION GENERALE ***/

body {
    margin: 0;
    padding: 0;
    background: url("images/background.jpg");
    font-family: 'Roboto', sans-serif;
}

/*** CONFIGURATION HEADER ***/

header {
    background: url("images/banniere.jpg") no-repeat center -400px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    line-height: 20vh;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}

#logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titre {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #titre img {
    width: 100%;
    height: auto;
}

header #logo img {
    width: 30%;
    height: auto;
}

@media (min-width: 2200px) {
    header {
        background: url("images/banniere.jpg") no-repeat bottom center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (min-width: 3900px) {
    header {
        background: url("images/banniere.jpg") no-repeat center -800px fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/*** CONFIGURATION MENU DE NAVIGATION ***/

nav {
    height: 100%;
    width: 80%;
    max-width: 100%;
    margin: 0 auto 2% auto;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    box-shadow: 0 8px 10px 1px rgb(0, 0, 0, 20%);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    width: 80%;
    padding-inline-start: 0;
}

nav li {
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    width: 15%;
    transition:transform .2s;
}

nav li:nth-child(2n+0):hover {
    background-color:#ECB6EE;
    transform: scale(1.2);
    border:none;
}

nav li:nth-child(2n+1):hover {
    background-color:#80DBFB;
    transform: scale(1.2);
    border:none;
}

nav ul li a {
    font-size: 1.5em;
    color: rgb(150, 150, 150);
    text-decoration: none;
    display: block;
    padding: 5%;
}

nav ul li a:hover {
    color: white;
}