/*----------------------*/
/* Colors */
/*----------------------*/

$pink: #ECB6EE;
$purpleOne: #B79BF2;
$purpleTwo: #A7B2F2;
$purpleThree: #C2C9F2;
$cyan: #80DBFB;


/*----------------------*/
/* Fonts */
/*----------------------*/

$roboto: 'Roboto', sans-serif;