@import 'vars';

/*** REMISE A ZERO DES REGLAGES NAVIGATEURS ***/

ul {
  margin: 0;
}

/*** SURCHARGE BOOTSTRAP ***/
.invalid-feedback {
  font-size: 0.6em;
}

/* modale popup */
.modal-body {
  text-align: center;
}

.modal-footer {
  justify-content: center;
}

.modal-dialog {
  top: 50vh;
}

/*** CONFIGURATION GENERALE ***/

body {
  margin: 0;
  padding: 0;
  background: url("../images/background.jpg");
  font-family: $roboto;
}

/*** CONFIGURATION HEADER ***/

header {
  background: linear-gradient(to left, $pink, $purpleOne, $purpleTwo, $purpleThree, $cyan);
  line-height: 20vh;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;

  #titre img {
    width: 100%;
    height: auto;
  }

  #logo img {
    width: 30%;
    height: auto;
  }
}

#logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titre {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** CONFIGURATION MENU DE NAVIGATION EN MODE PAYSAGE ***/

#menu {
  width: 100%;
  z-index: 9999;
  position: sticky;
  top: 0;
  @media screen and (orientation: portrait) {
    display: none;
  }
}

.floatable {
  position: fixed;
  top: 0;
}

nav {
  height: 100%;
  margin: 0 auto 2% auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #f4f4f4;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.2);

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    width: 80%;
    padding-inline-start: 0;

    li {
      align-self: center;
      text-align: center;
      margin-bottom: 0;
      width: 15%;
      transition: transform .2s;

      &:nth-child(2n+0):hover {
        background-color: $pink;
        transform: scale(1.2);
        border: none;
      }

      &:nth-child(2n+1):hover {
        background-color: $cyan;
        transform: scale(1.2);
        border: none;
      }

      a {
        font-size: 1.5em;
        color: rgb(150, 150, 150);
        text-decoration: none;
        display: block;
        padding: 5%;
        @media (max-width: 1420px) {
          display: flex;
          flex-direction: column;
        }

        &:hover {
          color: white;
        }
      }
    }
  }
}

#logo_nav {
  align-self: center;

  img {
    height: 50px;
  }
}

.visible {
  display: initial;
}

.invisible {
  display: none;
}

/*** CONFIGURATION MENU DE NAVIGATION EN MODE PORTRAIT ***/

@media screen and (orientation: landscape) {
  #menu_portrait {
    display: none;
  }
}

@media screen and (orientation: portrait) {

  #menu_portrait {
    position: fixed;
    bottom: -1px;
    width: 100%;
    z-index: 9999;
  }

  nav {
    margin: 0;
    box-shadow: 0 -10px 20px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 2%;

    ul {
      width: 100%;

      li {
        a {
          font-size: 1em;
          padding: 20% 5%;
          display: flex;
          flex-direction: column;

          .fa, .far, .fab, .fas {
            font-size: 3em;
            transition: 0.5s;
            color: #000;
            height: 100px;
          }

          span {
            color: #000;
            font-size: 1em;
          }
        }
      }
    }

    li {
      max-width: 4em;
      max-height: 4em;
    }
  }

  nav li:nth-child(1n+0):hover {
    background-color: transparent;
  }
}

/*** CONFIGURATION CONTENEUR PRINCIPAL ***/

#main {
  width: 60%;
  margin: auto;
  @media screen and (max-width: 1920px) {
    width: 90%;
  }

  @media screen and (orientation: portrait) {
    width: 90%;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-shadow: 3px 3px 6px rgba(221, 221, 221, 1);
  }

  h3 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-shadow: 3px 3px 6px rgba(221, 221, 221, 1);
  }

  &:target {
    padding-top: 2em;
    margin-top: -2em;
  }
}

.pink {
  color: $pink;
}

.blue {
  color: $cyan;
}

article {
  margin-bottom: 8rem;

  img {
    height: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4)) grayscale(100%);
    align-self: center;
  }

  p {
    line-height: 1.39;
    font-size: 1.5em;
    text-align: justify;
  }

  &.column img:nth-of-type(1) {
    width: 35%;
    margin-bottom: 1rem;
  }

  &.column img:nth-of-type(2) {
    width: 35%;
    margin-top: 1rem;
  }

  &.row img:nth-child(1) {
    width: 25%;
    margin-right: 3rem;
  }

  &.row img:nth-last-child(1) {
    width: 25%;
    margin-left: 3rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

/*** CONFIGURATION CONTENU CONTACT ***/

.contenu_article_row section {
  background-color: red;
  border-radius: 0;
  box-shadow: none;
}

.contenu_contact {
  display: flex;

  > img {
    width: 20%;
    align-self: center;
  }

  > div {
    width: 50%;
  }

  > div:nth-child(2) {

    width: 50px;
  }
}

.red_star::after {
  content: "*";
  color: red;
}

label {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

form {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}

.formulaire {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: .50rem !important;
  border: 1px black solid !important;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  height: 4vh;
  background-color: #f7f7f7 !important;

  &:focus {
    box-shadow: 0 0 9px 0 $cyan;
    outline: none;
  }
}

.group_checkbox {
  flex-direction: row;
  align-items: center;
}

.checkbox {
  box-shadow: none;
  margin: 0 1em;

  &:focus {
    box-shadow: none;
  }
}

input[type=submit] {
  cursor: pointer;
  font-size: 1em;
  background: linear-gradient(to left, $pink, $purpleOne, $purpleTwo, $purpleThree, $cyan);
  margin-top: 5%;
}

section h3 {
  width: 100%;
}

textarea {
  width: 100%;
  min-height: 453px;
  border-radius: .50rem;
  border: 1px black solid;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;

  &:focus {
    box-shadow: 0 0 9px 0 $pink;
    outline: none;
  }
}

/*** CONFIGURATION FOOTER ***/

footer {
  background-color: #f4f4f4;
  box-shadow: 0 -8px 10px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4em;
  padding: 0 20px;
  @media screen and (orientation: portrait) {
    padding-bottom: 100px;
  }

  h3 {
    background: none;
    font-size: 20px;
  }

  ul {
    list-style: none;
    text-align: left;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding-inline-start: 30%;
  }

  ul > li > a {
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
  }
}

.col {
  width: 20%;
  padding: 1%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.col:nth-child(3) a > img {
  margin-top: 10px;
  width: 30%;
}

.col:nth-child(2) a > img {
  width: 50%;
}

.btn-primary {
  color: #000000;
  border-color: #000000;
  cursor: pointer;
  font-size: 1em;
  background: linear-gradient(to left, $pink, $purpleOne, $purpleTwo, $purpleThree, $cyan);
  margin-top: 1em;
}