{% extends 'base.html.twig' %}

{% block title %}Baby Boom{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block main %}

    <section>

        <h2 class="pink">L'application faite pour tous les parents</h2>

        <h3 class="blue">Parce que le deuxième parent a aussi envie de vivre ce moment unique</h3>
        <article class="row responsive">
            <img src="images/wife_wife.png" alt="Femme et Femme"/>
            <div class="column">
                <p>
                    Maman vit cet instant tous les jours et il est souvent difficile pour le deuxième parent de
                    comprendre, de ressentir et de suivre cette grossesse.
                </p>
                <p>
                    C'est pour cela que Baby Boom a été créé, pour qu'il puisse suivre la grossesse, mais surtout qu'il
                    puisse s'y investir comme il le souhaite 👫 👭 👬
                </p>
            </div>
            <img src="images/wife_husband.png" alt="Femme et Homme"/>
        </article>

    </section>

    <section id="suivi">

        <h2 class="pink">Un suivi personnalisé</h2>

        <h3 class="blue">Une grossesse qui mérite toute votre attention</h3>
        <article class="column">
            <img src="images/grossesse.png" alt="grossesse"/>
            <div class="column">
                <p>
                    👶 Suivez l'évolution de votre bébé au fil des étapes, de l'ovulation, en passant par le test de
                    grossesse, la première échographie, la découverte du sexe et jusqu'à l'accouchement.
                    Chacune d'elle est importante et mérite une attention particulière.
                </p>
                <p>
                    Notre application vous aide à y voir plus clair, à vous organiser pour ne rien oublier mais
                    également à conserver
                    ces souvenirs qui seront tous uniques. Grâce à elle, chacun des parents pourra consulter, ajouter ou
                    modifier les informations quand il le souhaite. <i class="fab fa-app-store"></i> <i
                            class="fab fa-google-play"></i>
                </p>
                <p>
                    Papa n'a pas pu assister à l'échograpghie ? Heureusement, grâce à Baby Boom, Maman peut charger
                    directement la photo dans le suivi de bébé et Papa pourra la regarder quand il le voudra !
                </p>
            </div>
        </article>

        <h3 class="blue">Parce que chaque enfant est unique</h3>
        <article class="row responsive">
            <img src="images/nourrisson.png" alt="nourrisson"/>
            <div class="column">
                <p>
                    Son suivi ne devrait pas s'arrêter à son simple développement dans le ventre de Maman ! Avec Baby
                    Boom, vous pouvez immortaliser chaque instant, sa première visite chez le pédiatre,
                    sa première exploration du monde qui l'entoure, ses premiers pas ou ses premiers mots 🥰
                </p>
                <p>
                    Parce que la sécurité de vos enfants et le respect de la vie privée sont essentiels, toutes les
                    données que vous enregistrez sont confidentielles et ne sont accessibles que par vous 😉
                </p>
            </div>
        </article>

    </section>

    <section id="infos">

        <h2 class="pink">Toutes les infos qu'il vous faut !</h2>

        <h3 class="blue">Les maternités les plus proches de chez vous</h3>
        <article class="column">
            <img src="images/maternite.png" alt="maternité"/>
            <div class="column">
                <p>
                    L'application référencera les maternités les plus proches de votre domicile pour vous aider à
                    choisir et à vous organiser avant le grand jour. <i class="fas fa-hospital-user"></i>
                </p>
                <p>
                    Elles vous seront présentées sur une carte vous permettant de mieux les situer et de tracer un
                    itinéraire depuis votre domicile. <i class="fas fa-map-marked-alt"></i>
                </p>
            </div>
        </article>

        <h3 class="blue">La nounou ou la crèche, mais où sont-elles ?</h3>
        <article class="row responsive">
            <div class="column">
                <p>
                    Comme pour les maternités, Baby Boom vous aide à trouver les assistantes maternelles et les crèches
                    à proximité de chez vous.
                </p>
                <p>
                    Vous trouverez des adresses utiles pour commencer à organiser la garderie de votre chérubin ! <i
                            class="fas fa-baby-carriage"></i>
                </p>
            </div>
            <img src="images/creche.jpg" alt="crèche"/>
        </article>

    </section>

    <section id="calendrier">

        <h2 class="pink">N'oubliez plus aucun rendez-vous</h2>

        <h3 class="blue">Ou que vous soyez, enregistrez rapidement votre RDV sur Baby Boom</h3>
        <article class="column">
            <img src="images/calendrier.png" alt="calendrier"/>
            <div class="column">
                <p>
                    Le calendrier intégré vous permet d'enregistrer vos rendez-vous et vos rappels. Ils sont
                    automatiquement accessibles par les deux parents sur chacun de leur smartphone. <i
                            class="far fa-calendar-alt"></i>
                </p>
                <p>
                    L'application vous informe également des RDV importants à prendre tout au long du déroulement de la
                    grossesse pour ne rien oublier.
                </p>
            </div>
        </article>

    </section>

    <section id="checklist">

        <h2 class="pink">Une organisation aux petits oignons</h2>

        <h3 class="blue">N'oubliez plus le body pour sa nuit ou sa tétine préférée</h3>
        <article class="row responsive">
            <img src="images/checklist.png" alt="checklist"/>
            <div class="column">
                <p>
                    Pour être sûr de ne pas arriver à la maternité en ayant oublié certaines affaires, Baby Boom vous
                    propose plusieurs listes à cocher pour bien vous préparer. <i class="fa fa-tasks"
                                                                                  aria-hidden="true"></i>
                </p>
                <p>
                    Mais ce n'est pas tout, pleins de listes vous seront proposer suivant différentes situations (Salle
                    de naissance / Dossier administratif / Bébé à la plage / Bébé en balade ...)
                </p>
            </div>
        </article>

    </section>

    <section id="bons_plans">

        <h2 class="pink">Vous ne voudriez pas louper ça ?</h2>

        <h3 class="blue">Restez informer des bons plans pour vous et votre bébé</h3>
        <article class="column">
            <img src="images/bons-plans.png" alt="bons plans"/>
            <div class="column">
                <p>
                    Régulièrement, la page des bons plans sera mise à jour pour vous faire profiter des meilleurs offres
                    pour vous et votre enfant.
                </p>
                <p>
                    Nous savons que l'arrivée d'un bébé est un évènement merveilleux et pour vous aider à la préparer,
                    quoi de mieux que de profiter des meilleurs prix ? <i class="fab fa-shopify" aria-hidden="true"></i>
                </p>
            </div>
        </article>

    </section>

    <section id="partage">

        <h2 class="pink">Un réseau de partage privé</h2>

        <h3 class="blue">Parce que l'on ne veut pas toujours que notre bébé apparaisse sur les réseaux sociaux</h3>
        <article class="row responsive">
            <img src="images/cercle_partage.png" alt="cercle de partage"/>
            <div class="column">
                <p>
                    Vous ne voulez pas partager des photos ou des évènements de votre enfant sur les réseaux sociaux et
                    pourtant vous aimeriez que Papy et Mamie en profitent malgré la distance ?
                </p>
                <p>
                    <i class="fas fa-users"></i> Grâce à Baby Boom, vous pouvez partager ce que vous voulez et avec qui
                    vous voulez ! <i class="far fa-laugh-beam"></i>
                </p>
                <p>
                    C'est vous qui définissez votre cercle de partage. Personne en dehors de ce cercle ne verra tout ça.
                    Vous n'êtes pas obligés de tout partager, sélectionnez seulement les éléments que vous souhaitez.
                </p>
                <p>
                    Prochainement, retrouvez un accès au partage directement sur notre site internet en cliquant sur <a
                            href="#"><i class="far fa-share-square blue"> Go Baby</i></a> dans le menu ! Il sera ainsi
                    possible pour Papy et Mamie d'accéder au contenu sans se soucier de télécharger une application sur
                    leur téléphone 😉
                </p>
            </div>
        </article>

    </section>

{% endblock %}
