<div class="footer_col">
    <h3>Informations</h3>
    <ul>
        <li>
            <a href="#">Qui sommes-nous ?</a>
        </li>
        <li>
            <a href="#">CGV</a>
        </li>
        <li>
            <a href="#">Mentions légales</a>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
    </ul>
</div>
<div class="footer_col">
    <h3>Téléchargez l'application</h3>
    <a href="#" target="_blank">
        <img src="images/app-store.png" alt="APP STORE">
    </a>
    <a href="#" target="_blank">
        <img src="images/play-store.png" alt="PLAYP STORE">
    </a>
</div>
<div class="footer_col">
    <h3>Réalisé par</h3>
    <a href="https://github.com/steeven-th" target="_blank">
        <img src="images/profil.png" alt="Steeven Thomas">
    </a>
    <p>Steeven Thomas</p>
</div>