<nav>
    <div id="logo_nav">
        <a href="#">
            <img src="{{ asset('images/logo.png') }}" alt="logo"/>
        </a>
    </div>
    <ul>
        <li>
            <a href="#suivi">
                <i class="fas fa-baby" aria-hidden="true"></i>
                <span>Suivi</span>
            </a>
        </li>
        <li>
            <a href="#infos">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span>Infos</span>
            </a>
        </li>
        <li>
            <a href="#calendrier">
                <i class="far fa-calendar-alt" aria-hidden="true"></i>
                <span>Calendrier</span>
            </a>
        </li>
        <li>
            <a href="#checklist">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <span>Checklist</span>
            </a>
        </li>
        <li>
            <a href="#bons_plans">
                <i class="fab fa-shopify" aria-hidden="true"></i>
                <span>Bons plans</span>
            </a>
        </li>
        <li>
            <a href="#partage">
                <i class="fa fa-people-arrows" aria-hidden="true"></i>
                <span>Partage</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="far fa-share-square"></i>
                <span>Go Baby</span>
            </a>
        </li>
    </ul>
</nav>